<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>USER PANEL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/profile">My profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/credit">Credit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inbox">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support">Support</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="text-primary"> Welcome <span class="text-primary" th:text="${user}"></span></a>
            <a href="/logout" class="btn btn-primary btn-lg my-2 my-sm-0">Logout</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="text-center">
        <h3>My Profile</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow p-3">
                <h4>Recent Activity</h4>
                <div>
                    <p class="text-primary">Last login Activity</p>
                    <hr>
                    <p class="text-primary"><span class="text-primary" th:text="${last_login}"></span></p>

                    <p class="text-primary">Last User profile update</p>
                    <hr>
                    <p class="text-primary"><span class="text-primary" th:text="${last_update}"></span></p>

                    <p>Inbox</p>
                    <hr>
                    <p class="text-primary">Inbox <span class="text-primary" th:text="${inbox}"></span></p>
                    <p class="text-primary">Unread <span class="text-primary" th:text="${unread}"></span></p>

                </div>

            </div>

        </div>
        <div class="col-md-7 p-3">
            <div class="card shadow">
                <h4>List exisiting users</h4>
                <table>
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.id}"/>
                        <td th:text="${user.firstName}"/>
                        <td th:text="${user.lastName}"/>
                        <td th:text="${user.email}"/>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </div>

</div>
</body>

</html>